<% provide(:title, @artist.name ) %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    
    <%= form_for(@artist)  do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Band/Artist Name" %>
      <%= f.text_field :name %>

      <% if false %>
      <%= f.label :avatar, "Photo" %>
      <%= f.file_field :avatar  %>
      <% end %>

      <%= f.label :bio, "Bio" %>
      <%= f.text_area :bio %>

      <%= f.label :website %>
      <%= f.text_field :website %>

      <%= f.label :genre, "Genre" %>
      <%= f.select(:genre, ['Pop', 'Rock', 'Blues', 'Country', 'Electronic', 'Hip-Hop', 'Jazz', 'R&B']) %>      

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>