<% provide(:title, @listener.name) %>


<div>
	<%= form_tag(shares_path, method: 'post' ) do %>
		<table class="table">
			<% @friends.each do |f| %>
				<tr>
					<td><%= image_tag(@listener.facebook.get_picture(f['id'])) %></td>
					<td><%= f['name'] %></td>
					<td><%= check_box_tag("friend_ids[]", f['id'] ) %></td>		
				</tr>	
			<% end %>
		</table>

		<div><%= submit_tag 'Share' , class: "btn btn-large btn-primary" %></div>
	<% end %>
	
</div>
