<div class="row">
  <div class="span6 offset3">
    <%= form_for (@artist), :url => artists_path, :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Band/Artist Name" %>
      <%= f.text_field :name %>

      <%= f.label :avatar, "Photo" %>
      <%= f.file_field :avatar  %>

      <%= f.label :bio, "Bio" %>
      <%= f.text_area :bio %>

      <%= f.label :website %>
      <%= f.text_field :website %>

      <%= f.label :genre, "Genre" %>
      <%= f.select(:genre, ['Pop', 'Rock', 'Blues', 'Country', 'Electronic', 'Hip-Hop', 'Jazz', 'R&B']) %>      

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>